.u-section-1 {
  min-height: 677px;
}

.u-section-1 .u-image-1 {
  width: 759px;
  left: auto;
  right: 0;
}

.u-section-1 .u-image-2 {
  width: 473px;
  height: 473px;
  margin: 122px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: -513px calc(((100% - 1140px) / 2) + 356px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-form-1 {
  width: 405px;
  margin-left: calc(((100% - 1140px) / 2) + 12px);
  margin-bottom: 60px;
  margin-top: 30px;
  height: 124px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    width: 448px;
    height: 427px;
    margin-top: 148px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 205px);
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 940px) / 2) + 290px);
    margin-left: calc(((100% - 940px) / 2) + 12px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    height: 426px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -512px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 720px) / 2) + 70px);
    margin-left: calc(((100% - 720px) / 2) + 12px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-top: 164px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -552px;
    margin-right: calc(((100% - 540px) / 2) + -32px);
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 12px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 323px;
    margin-top: 122px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -323px;
    margin-right: calc(((100% - 340px) / 2) + -37px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    height: 130px;
    margin: 136px calc(((100% - 340px) / 2)) 0 calc(((100% - 340px) / 2) + -18px);
  }
}.u-section-2 {
  min-height: 345px;
}

.u-section-2 .u-image-1 {
  height: 343px;
  margin-top: 1px;
  margin-bottom: 1px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 282px;
  }

  .u-section-2 .u-image-1 {
    height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 231px;
  }

  .u-section-2 .u-image-1 {
    height: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 181px;
  }

  .u-section-2 .u-image-1 {
    height: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 140px;
  }

  .u-section-2 .u-image-1 {
    height: 122px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 50px 817px 0 -61px;
}

.u-section-3 .u-image-1 {
  width: 387px;
  height: 661px;
  margin: 56px -68px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 313px;
  height: 318px;
  margin: -661px 102px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 692px;
  background-image: none;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  min-height: 182px;
  margin: -334px auto 0 -63px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 31px 113px 0 119px;
}

.u-section-3 .u-image-3 {
  width: 138px;
  height: 138px;
  margin: -52px auto 0 -19px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: -86px -21px 0 119px;
}

.u-section-3 .u-group-2 {
  width: 692px;
  background-image: none;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  min-height: 174px;
  margin: 18px auto 0 -61px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-image-4 {
  width: 128px;
  height: 128px;
  margin: 20px auto 0 -19px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: -118px 278px 0 109px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 18px 60px 0 109px;
}

.u-section-3 .u-group-3 {
  width: 692px;
  background-image: none;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  min-height: 196px;
  margin: 18px auto 0 -61px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-image-5 {
  width: 129px;
  height: 129px;
  margin: 23px auto 0 -19px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -122px 155px 0 110px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 -38px 0 110px;
}

.u-section-3 .u-group-4 {
  width: 692px;
  background-image: none;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  min-height: 182px;
  margin: 18px auto 60px -61px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-image-6 {
  width: 131px;
  height: 131px;
  margin: 24px auto 0 -21px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: -116px 96px 0 103px;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  margin: 18px 79px 0 116px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 68px;
    margin-right: 482px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-1 {
    width: 318px;
    height: 552px;
    margin-top: 154px;
    margin-right: -50px;
  }

  .u-section-3 .u-image-2 {
    width: 221px;
    height: 224px;
    margin-top: -524px;
    margin-right: 69px;
  }

  .u-section-3 .u-group-1 {
    min-height: 231px;
    margin-top: -359px;
    margin-left: -50px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -23px;
  }

  .u-section-3 .u-group-2 {
    min-height: 189px;
    margin-top: 10px;
    margin-left: -50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-3 {
    min-height: 225px;
    margin-left: -50px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-group-4 {
    min-height: 197px;
    margin-left: -50px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -117px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 377px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -30px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 57px;
    margin-left: 63px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 63px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 63px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 222px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 4px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 99px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    min-height: 268px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 3px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -2px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 23px;
    margin-right: 83px;
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1815px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 51px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 262px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: 262px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 262px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    min-height: 352px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 75px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: -9px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    min-height: 391px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin: 8px -9px -8px;
  }

  .u-section-3 .u-group-4 {
    min-height: 305px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
    margin-left: 24px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 871px;
}

.u-section-4 .u-image-1 {
  width: 321px;
  height: 669px;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-family: "Alfa Slab One";
  margin: -659px 570px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 26px 365px 60px 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 103px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -702px;
    margin-right: 370px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 321px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-4 .u-image-1 {
    margin-right: auto;
    margin-left: 185px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 101px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1650px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 747px;
}

.u-section-5 .u-text-1 {
  width: 680px;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-list-1 {
  min-height: 467px;
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-5 .u-text-4 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  width: 206px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-2 {
  width: 31px;
  height: 31px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-5 .u-text-7 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-8 {
  width: 206px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-4 {
  width: 31px;
  height: 31px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  margin: 20px 1px 0;
}

.u-section-5 .u-text-10 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-11 {
  width: 206px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-6 {
  width: 31px;
  height: 31px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-5 .u-list-1 {
    min-height: 385px;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-5 .u-list-1 {
    min-height: 885px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(66.66% - 3.33333px);
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 372px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1206px;
  margin: 0 auto 9px -66px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 42px;
  height: 59px;
  margin: 79px auto 0 7px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  margin: 19px auto 0 7px;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  font-size: 2em;
  width: 51px;
  height: 70px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -80px auto 0 49px;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  white-space: nowrap;
  margin: -40px 61px 0 auto;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-6 .u-icon-5 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-6 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 100px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1.875rem;
}

.u-section-6 .u-image-2 {
  width: 160px;
  height: 85px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 117px;
  height: 59px;
  margin: -72px auto 0 22px;
}

.u-section-6 .u-image-4 {
  width: 160px;
  height: 85px;
  margin: 43px auto 0 0;
}

.u-section-6 .u-image-5 {
  width: 126px;
  height: 42px;
  margin: -62px auto 0 17px;
}

.u-section-6 .u-line-1 {
  width: 135px;
  left: 33px;
  top: 73px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 186px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  font-size: 1.875rem;
  margin: 0 auto 0 -22px;
}

.u-section-6 .u-line-2 {
  width: 115px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  left: 8px;
  top: 66px;
}

.u-section-6 .u-line-3 {
  width: 135px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  top: 66px;
  left: auto;
  right: 121px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  font-size: 1.875rem;
  margin: -36px -8px 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 319px 0 -22px;
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 1023px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 110px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 17px;
    margin-left: -8px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 34px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -41px;
    margin-right: -23px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-6 .u-line-1 {
    width: 117px;
    left: 19px;
    top: 69px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 5px;
    margin-right: 190px;
    margin-left: -30px;
  }

  .u-section-6 .u-line-2 {
    left: 0;
    top: 70px;
  }

  .u-section-6 .u-line-3 {
    top: 70px;
    margin-left: 140px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -28px;
    margin-right: -140px;
    margin-left: 140px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 24px;
    margin-right: 256px;
    margin-left: -30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 39px;
    margin-left: -25px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 9px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -31px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-left: -25px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5625rem;
    margin-right: -72px;
    margin-left: -30px;
  }

  .u-section-6 .u-image-2 {
    height: 83px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 37px;
  }

  .u-section-6 .u-image-4 {
    height: 83px;
  }

  .u-section-6 .u-image-5 {
    margin-left: 18px;
  }

  .u-section-6 .u-line-1 {
    width: 111px;
    left: 3px;
    top: 64px;
    transform: rotate(360deg);
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 367px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.375rem;
    margin-top: -14px;
    margin-right: 134px;
    margin-left: -9px;
  }

  .u-section-6 .u-line-2 {
    width: 78px;
    left: 21px;
    top: 72px;
  }

  .u-section-6 .u-line-3 {
    width: 77px;
    top: 72px;
    right: 69px;
    margin-left: 105px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.375rem;
    margin-top: -52px;
    margin-right: -19px;
    margin-left: 124px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 26px;
    margin-right: 119px;
    margin-left: -9px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: -13px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 7px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -30px;
    margin-left: 16px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 37px;
    margin-left: 16px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 471px;
    margin-left: auto;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -19px;
    margin-left: -7px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 4px;
    margin-right: 334px;
    margin-left: 9px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -24px;
    margin-right: -67px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 40px;
    margin-left: -6px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -71px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 19px;
    margin-left: -6px;
  }

  .u-section-6 .u-image-5 {
    margin-top: -57px;
    margin-left: 11px;
  }

  .u-section-6 .u-line-1 {
    width: 96px;
    left: 10px;
    top: 33px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-right: 130px;
    margin-left: 0;
  }

  .u-section-6 .u-line-2 {
    left: 19px;
    top: 59px;
  }

  .u-section-6 .u-line-3 {
    top: 56px;
    left: 178px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -26px;
    margin-right: -168px;
    margin-left: 168px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 15px;
    margin-right: 152px;
    margin-left: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 394px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -21px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 21px;
    margin-left: 6px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 271px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -9px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-right: 112px;
    margin-left: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 107px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -101px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 14px;
    margin-left: -1px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 278px;
    margin-left: auto;
  }

  .u-section-6 .u-image-4 {
    margin-top: 29px;
  }

  .u-section-6 .u-image-5 {
    margin-top: -62px;
    margin-right: 278px;
    margin-left: auto;
  }

  .u-section-6 .u-line-1 {
    width: 117px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 306px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -10px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-6 .u-line-2 {
    left: 7px;
    top: 47px;
  }

  .u-section-6 .u-line-3 {
    top: 304px;
    left: -2px;
    right: 121px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 109px;
    margin-right: 7px;
    margin-left: -10px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -131px;
    margin-right: 3px;
  }
}