.u-section-1 .u-sheet-1 {
  min-height: 500px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 372px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1206px;
  margin: 0 auto 9px -66px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 42px;
  height: 59px;
  margin: 79px auto 0 7px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  margin: 19px auto 0 7px;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 2em;
  width: 51px;
  height: 70px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -80px auto 0 49px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  white-space: nowrap;
  margin: -40px 61px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 100px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-image-2 {
  width: 160px;
  height: 85px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 117px;
  height: 59px;
  margin: -72px auto 0 22px;
}

.u-section-2 .u-image-4 {
  width: 160px;
  height: 85px;
  margin: 43px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 126px;
  height: 42px;
  margin: -62px auto 0 17px;
}

.u-section-2 .u-line-1 {
  width: 135px;
  left: 33px;
  top: 73px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 186px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  font-size: 1.875rem;
  margin: 0 auto 0 -22px;
}

.u-section-2 .u-line-2 {
  width: 115px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  left: 8px;
  top: 66px;
}

.u-section-2 .u-line-3 {
  width: 135px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  top: 66px;
  left: auto;
  right: 121px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  font-size: 1.875rem;
  margin: -36px -8px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 319px 0 -22px;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 1023px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 110px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 17px;
    margin-left: -8px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 34px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -41px;
    margin-right: -23px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-2 .u-line-1 {
    width: 117px;
    left: 19px;
    top: 69px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 5px;
    margin-right: 190px;
    margin-left: -30px;
  }

  .u-section-2 .u-line-2 {
    left: 0;
    top: 70px;
  }

  .u-section-2 .u-line-3 {
    top: 70px;
    margin-left: 140px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -28px;
    margin-right: -140px;
    margin-left: 140px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 24px;
    margin-right: 256px;
    margin-left: -30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 39px;
    margin-left: -25px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 9px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -31px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: -25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5625rem;
    margin-right: -72px;
    margin-left: -30px;
  }

  .u-section-2 .u-image-2 {
    height: 83px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 37px;
  }

  .u-section-2 .u-image-4 {
    height: 83px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 18px;
  }

  .u-section-2 .u-line-1 {
    width: 111px;
    left: 3px;
    top: 64px;
    transform: rotate(360deg);
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 367px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.375rem;
    margin-top: -14px;
    margin-right: 134px;
    margin-left: -9px;
  }

  .u-section-2 .u-line-2 {
    width: 78px;
    left: 21px;
    top: 72px;
  }

  .u-section-2 .u-line-3 {
    width: 77px;
    top: 72px;
    right: 69px;
    margin-left: 105px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.375rem;
    margin-top: -52px;
    margin-right: -19px;
    margin-left: 124px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 26px;
    margin-right: 119px;
    margin-left: -9px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: -13px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 7px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -30px;
    margin-left: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 37px;
    margin-left: 16px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 471px;
    margin-left: auto;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -19px;
    margin-left: -7px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 4px;
    margin-right: 334px;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -24px;
    margin-right: -67px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 40px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -71px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 19px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -57px;
    margin-left: 11px;
  }

  .u-section-2 .u-line-1 {
    width: 96px;
    left: 10px;
    top: 33px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-right: 130px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    left: 19px;
    top: 59px;
  }

  .u-section-2 .u-line-3 {
    top: 59px;
    left: 186px;
    right: 121px;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: -26px;
    margin-right: -168px;
    margin-left: 168px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 15px;
    margin-right: 152px;
    margin-left: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 394px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -21px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 21px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 271px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -9px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 112px;
    margin-left: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 107px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -101px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 14px;
    margin-left: -1px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 278px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 29px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -62px;
    margin-right: 278px;
    margin-left: auto;
  }

  .u-section-2 .u-line-1 {
    width: 117px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 306px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -10px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-2 .u-line-2 {
    left: 7px;
    top: 47px;
  }

  .u-section-2 .u-line-3 {
    top: 304px;
    left: -2px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 109px;
    margin-right: 7px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -131px;
    margin-right: 3px;
  }
}